<section class="container py-5">
  <h2 class="mb-2 ml-3 ml-sm-0">Añadir usuario</h2>
  <div class="underline mb-5 ml-3 ml-sm-0"></div>
  <mat-card class="shadow-none border-gray rounded-lg">
    <mat-card-content class="mt-2 p-3 mb-2">
      <form [formGroup]="validateUserForm" (ngSubmit)="onSubmit()" #formDir="ngForm" autocomplete="off">
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="formValidation.name.touched && formValidation.name.invalid" class="font-size-13px">
            <span *ngIf="formValidation.name.errors.required">El nombre es <strong>requerido</strong></span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>Correo eléctronico</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="formValidation.email.touched && formValidation.email.invalid" class="font-size-13px">
            <span *ngIf="formValidation.email.errors.required">El correo es <strong>requerido</strong></span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <mat-hint class="font-size-13px">Mínimo 8 caracteres</mat-hint>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirme la contraseña</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
          <mat-hint *ngIf="validateUserForm.errors?.invalid" class="font-size-13px">
            Las contraseñas no coinciden
          </mat-hint>
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-slide-toggle color="primary" [checked]="isAdmin" (change)="isAdmin = !isAdmin">
          <span *ngIf="isAdmin">Es administrador</span>
          <span *ngIf="!isAdmin">No es administrador</span>
        </mat-slide-toggle>
        <div class="row mt-5">
          <div class="col-12 col-md-6 mb-md-2 order-2 order-md-1">
            <a mat-stroked-button [routerLink]="[routes.users.index]"
              class="text-uppercase btn-block py-2 text-decoration-none btn-text" color="primary">
              <mat-icon matSuffix>keyboard_backspace</mat-icon>
              <span class="pt-1 ml-2">Regresar</span>
            </a>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-2 order-1 order-md-2">
            <button type="submit" mat-flat-button color="primary" [disabled]="!formDir.valid"
              class="text-uppercase btn-block btn-text py-2">
              Guardar
              <mat-icon matSuffix class="ml-2">keyboard_tab</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="overlay" *ngIf="loading">
    <div class="center">
      <app-progress-spinner></app-progress-spinner>
    </div>
  </div>
</section>

