h2 {
  font-size: 32px;
  line-height: 40px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid rgba(0,0,0,.12);
  display: inline-flex;
  align-items: center;
  padding: .9em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  border: 2px solid rgba(0,0,0,.87);
  transition: border 600ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

