h2 {
  font-size: 32px;
  line-height: 40px;
}

.border-purple {
  border: 1px solid rgba(76, 55, 135, .3); 
}

.border-purple:hover {
  border: 1px solid rgba(76, 55, 135, .5); 
  box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}