h6 {
  width: 92%; 
  text-align: center; 
  border-bottom: 1px solid rgba(76, 55, 135, .3); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  font-size: 16px;
  color: rgb(76, 55, 135);
} 

h6 span { 
  background:#fff; 
  padding: 0 10px; 
}

.my-6 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}