h2 {
  font-size: 32px;
  line-height: 40px;
}

.mat-card-avatar {
  height: 80px;
  width: 80px;
}

.avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}