<section class="container py-5 px-3">
  <h2 class="mb-2 text-capitalize">{{category}}</h2>
  <div class="underline mb-4"></div>
  <div class="row">
    <div class="col-12 col-sm-8 col-md-8 col-lg-9 mx-auto">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label style="color: #212529;" class="pl-2">Buscar</mat-label>
        <input matInput id="search-text" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Ingrese el texto a buscar" autofocus>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-3 mx-auto mb-3">
      <a mat-stroked-button [routerLink]="[routes.categories.index]"
        class="text-uppercase btn-block py-1 text-decoration-none btn-text" color="primary" style="margin-top: .18rem!important; padding: .45rem 0 !important;">
        <mat-icon matSuffix>keyboard_backspace</mat-icon>
        <span class="pt-1 ml-2">Regresar</span>
      </a>
    </div>
  </div>
  <div class="mt-5" *ngIf="isEmpty">
    <app-empty-result></app-empty-result>
  </div>
  <div class="row mt-4" *ngIf="!isEmpty">
    <div class="col-6 col-sm-4 col-lg-3 mx-auto mb-4" *ngFor="let sign of mSigns | filter: searchText">
      <mat-card class="shadow-none border-gray rounded-lg h-100">
        <mat-card-title class="text-truncate">{{sign.name}}</mat-card-title>
        <mat-card-subtitle>{{sign.category}}</mat-card-subtitle>
        <img mat-card-image src="{{sign.image_url}}" name="" alt="">
  
        <mat-card-content>
          <p class="mx-1">{{sign.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
