<footer class="pt-5 star-pattern">
  <!-- <div class="container text-center text-md-left pb-3">
    <div class="row">
      <div class="col-12 col-lg-3 text-center">
        <a href="#" class="text-decoration-none">
          <h6 class="brand-text text-uppercase">trasem</h6>
        </a>
      </div>
      <hr class="clearfix w-100 d-lg-none pb-3">
      <div class="col-6 col-md-4 col-lg-3 text-center text-lg-right">
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </div>
      <div class="col-6 col-md-4 col-lg-3 text-center text-lg-right">
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </div>
      <div class="col-6 col-md-4 col-lg-3 text-center text-lg-right">
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div> -->
  <div class="container text-center">
    <img class="img-fluid" src="assets/img/trasem.png" height="90" width="90" alt="Logotipo de trasem">
    <h2 class="text-uppercase brand-text">Trasem</h2>
  </div>
  <div class="footer-copyright text-center py-3 px-3">
    © 2020 Copyright: TRASEM ® | Todos los derechos reservados. Hecho en México con ♥ por 
    <a class="text-decoration-none primary-text" href="https://github.com/Motodell">Motodell</a>
  </div>
</footer>